name: Libraries

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always
  RUST_TOOLCHAIN: nightly-2021-12-09

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          override: true
          profile: minimal
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          components: rustfmt, clippy
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v1
      - run: cargo doc --workspace --exclude stable-swap-program --exclude fuzz

  test:
    runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Install Rust nightly
          uses: actions-rs/toolchain@v1
          with:
            override: true
            profile: minimal
            toolchain: ${{ env.RUST_TOOLCHAIN }}
            components: rustfmt, clippy
        - name: Cache dependencies
          uses: Swatinem/rust-cache@v1
        - run: cargo test --workspace --exclude stable-swap-program --exclude fuzz

